<div class="center-div panel-grey">
  <form name="selectForm" [formGroup]="selectForm" novalidate>
    <ng-select class="custom" [items]="selections" [searchable]="false"
               (change)="doGetCriterionScreen($event)"
               placeholder="Select"
               formControlName="selection">
    </ng-select>
  </form>
</div>

<div class="center-div panel-grey">
  <form *ngIf="criterion && dynForm" name="dynForm" [formGroup]="dynForm">

    <ng-container *ngFor="let field of criterion.fields">
      <div class="new-line" *ngIf="field.newLine"></div>

      <!-- Text only -->
      <span class="instruction" *ngIf="!field.hide && field.display === fieldTypes.get('BodyText')">{{field.val}}</span>

      <!-- Linked text (hypertext, like we're "surfing the Internet", and stuff -->
      <a class="instruction" *ngIf="!field.hide && field.display === fieldTypes.get('Anchor')"
         href="{{field.val}}">{{field.label}}</a>


      <!-- Checkbox (with labelling and errors) -->
      <ng-container class="table-wrapper" *ngIf="!field.hide && field.display === fieldTypes.get('Checkbox')">
        <label class="row">
          <span class="cell form-label">{{field.label}}</span>
        </label>
        <label class="row">
          <span class="cell form-error" *ngIf="dynForm.controls[field.name].invalid
          && ( dynForm.controls[field.name].dirty || dynForm.controls[field.name].touched )">
            {{errorMessageResolver(field, dynForm.controls[field.name].errors)}}
          </span>
        </label>
        <input type="checkbox" name="{{field.name}}" value="{{field.val}}" formControlName="{{field.name}}"/>
      </ng-container>

      <!-- Text Field (with labelling and errors) -->

      <!--
          1. Show if not hidden
          2. Show if there is a hideshow clause for another field on the generated form AND that the field is valid, else follow clause 1
          3. AND show if this is a text field, otherwise we'll want to use another block for the display.
      -->
      <ng-container class="table-wrapper"
                    *ngIf="(!field.hide || ((field.hideShow?.fieldOfName) ? dynForm.controls[field.hideShow?.fieldOfName]?.valid : false))
                          && field.display === fieldTypes.get('Text')"
      >
        <label class="row">
          <span class="cell form-label">{{field.label}}</span>
        </label>
        <label class="row">
          <span class="cell form-error" *ngIf="dynForm.controls[field.name].invalid
          && ( dynForm.controls[field.name].dirty || dynForm.controls[field.name].touched )">
            {{errorMessageResolver(field, dynForm.controls[field.name].errors)}}
          </span>
        </label>
        <!--
            the valid condition is hard-coded at the moment, we probably want to be a bit less prescriptive
            there are probably other conditions we might want to include.
        -->
        <input *ngIf="field.action?.when?.fieldOfName === field.name && field.action?.when?.condition === 'valid'"
               type="text" name="{{field.name}}" value="{{field.val}}" formControlName="{{field.name}}" (change)="caller(field.action, callOut)"/>
        <input *ngIf="!field.action" type="text" name="{{field.name}}" value="{{field.val}}" formControlName="{{field.name}}"/>
      </ng-container>

      <!-- Password Field (with labelling and errors) -->
      <ng-container class="table-wrapper" *ngIf="!field.hide && field.display === fieldTypes.get('Password')">
        <label class="row">
          <span class="cell form-label">{{field.label}}</span>
        </label>
        <label class="row">
          <span class="cell form-error" *ngIf="dynForm.controls[field.name].invalid
          && ( dynForm.controls[field.name].dirty || dynForm.controls[field.name].touched )">
            {{errorMessageResolver(field, dynForm.controls[field.name].errors)}}
          </span>
        </label>
        <input type="password" name="{{field.name}}" value="{{field.val}}" formControlName="{{field.name}}"/>
      </ng-container>

      <ng-container *ngIf="!field.hide && field.display === fieldTypes.get('Button')">
        <span>{{field.label}}</span>
        <button type="button" (click)="call(field.action.call)">{{field.val}}</button>
      </ng-container>

    </ng-container>

    <div>
      <button class="primary-button" *ngIf="criterion.page >= 1" type="button" (click)="next()">Next</button>
      <a class="call-to-action" *ngIf="criterion.page >= 1" (click)="back()">Back</a>
    </div>
  </form>
</div>

<div class="center-div panel-grey" *ngIf="criterion">
  <json-tree [json]="criterion" [expand]="false" [currExpand]="true" [label]="'criterion'"></json-tree>
</div>
