@import "~@ng-select/ng-select/themes/default.theme.css";

.instruction {
  color: #000000;
  font-family: "ap_letter",Helvetica,Arial,sans-serif;
  font-size: 1.07143em;
  line-height: 1.5;
}

a.instruction {
  text-decoration: underline;
  cursor: pointer;
}
a.instruction:hover {
  color: #1064a3;
}


.new-line {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
}

.primary-button {
  position: relative;
  width: 100%;
  background-color: #1064a3;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #1064a3;
  border-radius: 3px;
  color: #fff;
  font-family: ap_Letter,Helvetica,Arial,sans-serif;
  font-size: 1.07143em;
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}

.secondary-button {
  position: relative;
  width: 100%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #1064a3;
  border-radius: 3px;
  color: #1064a3;
  font-family: ap_Letter,Helvetica,Arial,sans-serif;
  font-size: 1.07143em;
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}

.call-to-action {
  display: block;
  position: relative;
  color: #1064a3;
  font-family: "ap_letter",Helvetica,Arial,sans-serif;
  text-align: center;
  font-size: 1.07143em;
  line-height: 2.5;
  text-decoration: underline;
  cursor: pointer;
}

.form-label {
  color: #101831;
  font-family: "ap_letter",Helvetica,Arial,sans-serif;
  text-align: left;
  font-size: 1.07143em;
  line-height: 2.5;
}

.form-error {
  color: #dc1928;
  font-family: "ap_letter",Helvetica,Arial,sans-serif;
  text-align: left;
  font-size: 0.8em;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

input {
  border: 1px solid #1064a3;
  border-radius: 3px;
  background-color: #fff;
  font-size: 1.07143em;
  width: 99%;
  height: 30px;
}

input.inline {
  display: inline;
  border: 1px solid #1064a3;
  border-radius: 3px;
  background-color: #fff;
  font-size: 1.07143em;
  width: 99%;
  height: 30px;
}
