@import "~@ng-select/ng-select/themes/default.theme.css";

.center-div {
  margin: 0 auto;
  width: 400px;
  max-width: 600px;
}
.panel-grey {
  padding: 30px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.table-wrapper {
  display: table;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  vertical-align: text-top;
}

